[Unit]
Description=Library Sync Service
After=network.target

[Service]
Type=oneshot
ExecStart=/usr/bin/library_sync

[Install]
WantedBy=multi-user.target
